.container {
  display: grid;
  grid-template-columns: 16px 1fr 16px;
  gap: 20px;
  place-items: center;
  background-color: #f1f1f1;
  padding: 15px;
}

.button {
  background-color: none;
  outline: none;
  border: none;
}
