.container {
  display: flex;
  gap: 34px;
  list-style: none;
}

.link:hover {
  color: var(--main-orange);
  cursor: pointer;
}

.link {
  color: white;
  text-decoration: none;
}

.activeLink {
  text-decoration: underline;
  color: gold;
}

.text {
  text-transform: uppercase;
}
