.container {
  display: flex;
  flex-direction: column;
}

.containerA {
  background-color: var(--main-orange);
  background-image: url("../../../public/components/ads/circles.png");
  background-repeat: no-repeat;
  background-size: 558px;
  background-position: 50% -117px;
}

.containerB {
  flex-direction: row-reverse;
}

.containerC {
  gap: 16px;
}

.imgContainer {
}

.img {
}

.content {
}

.link {
}
