body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* browser normally use 16px as base*/
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* primary color */
  --main-orange: #d87d4a;
  --main-black: #101010;

  /* secondary colors */
  --secondary-gray: #f1f1f1;
  --secondary-light-gray: #fafafa;
  --secondary-orage: #fbaf85;

  /* neutrals */
  --black: #000;
  --white: #fff;

  /* typographies */
  --main-family: "Manrope", sans-serif;
}
